#**Pendahuluan**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

###Input Data

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/BISMILLAH BDC/train_fktp.txt", sep=",", header=None,
                 names = ["Nomor peserta", "Nomor keluarga", "Bobot", "ID Kunjungan FKTP",	"Tanggal datang kunjungan FKTP",	"Tanggal pulang kunjungan FKTP",	"Provinsi FKTP",	"Kabupaten/Kota FKTP",	"Kepemilikan FKTP",	"Jenis FKTP",	"Tipe FKTP",	"Tingkat Pelayanan FKTP",	"Jenis Poli FKTP",	"Segmen Peserta saat akses layanan FKTP",	"Kode dan nama diagnosis ICD 10 (3 digit)",	"Kode diagnosis ICD 10 (3 digit)",	"Kode diagnosis (beragam 3-5 digit)",	"Nama diagnosis berasal dari kode diagnosis FKP15",	"Provinsi faskes tujuan rujukan",	"Kabupaten/Kota faskes tujuan rujukan",	"Kepemilikan faskes tujuan rujukan",	"Jenis faskes tujuan rujukan",	"Tipe faskes tujuan rujukan",	"Poli faskes tujuan rujukan",	"Jenis Kunjungan FKTP",	"Kelas Status Pulang Peserta"])

FileNotFoundError: ignored

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.columns

Index(['Nomor peserta', 'Nomor keluarga', 'Bobot', 'ID Kunjungan FKTP',
       'Tanggal datang kunjungan FKTP', 'Tanggal pulang kunjungan FKTP',
       'Provinsi FKTP', 'Kabupaten/Kota FKTP', 'Kepemilikan FKTP',
       'Jenis FKTP', 'Tipe FKTP', 'Tingkat Pelayanan FKTP', 'Jenis Poli FKTP',
       'Segmen Peserta saat akses layanan FKTP',
       'Kode dan nama diagnosis ICD 10 (3 digit)',
       'Kode diagnosis ICD 10 (3 digit)', 'Kode diagnosis (beragam 3-5 digit)',
       'Nama diagnosis berasal dari kode diagnosis FKP15',
       'Provinsi faskes tujuan rujukan',
       'Kabupaten/Kota faskes tujuan rujukan',
       'Kepemilikan faskes tujuan rujukan', 'Jenis faskes tujuan rujukan',
       'Tipe faskes tujuan rujukan', 'Poli faskes tujuan rujukan',
       'Jenis Kunjungan FKTP', 'Kelas Status Pulang Peserta'],
      dtype='object')

In [ ]:
df.isna().sum()

Nomor peserta                                             0
Nomor keluarga                                            0
Bobot                                                     0
ID Kunjungan FKTP                                         0
Tanggal datang kunjungan FKTP                             0
Tanggal pulang kunjungan FKTP                             0
Provinsi FKTP                                             0
Kabupaten/Kota FKTP                                       0
Kepemilikan FKTP                                          0
Jenis FKTP                                                0
Tipe FKTP                                                 0
Tingkat Pelayanan FKTP                                    0
Jenis Poli FKTP                                           1
Segmen Peserta saat akses layanan FKTP                    0
Kode dan nama diagnosis ICD 10 (3 digit)                  0
Kode diagnosis ICD 10 (3 digit)                     1380241
Kode diagnosis (beragam 3-5 digit)                        0
Nama diagnosis berasal dari kode diagnosis FKP15          0
Provinsi faskes tujuan rujukan                            0
Kabupaten/Kota faskes tujuan rujukan                      0
Kepemilikan faskes tujuan rujukan                         0
Jenis faskes tujuan rujukan                               0
Tipe faskes tujuan rujukan                                0
Poli faskes tujuan rujukan                                0
Jenis Kunjungan FKTP                                      0
Kelas Status Pulang Peserta                               0
dtype: int64

In [ ]:
df

,Nomor peserta,Nomor keluarga,Bobot,ID Kunjungan FKTP,Tanggal datang kunjungan FKTP,Tanggal pulang kunjungan FKTP,Provinsi FKTP,Kabupaten/Kota FKTP,Kepemilikan FKTP,Jenis FKTP,...,Kode diagnosis (beragam 3-5 digit),Nama diagnosis berasal dari kode diagnosis FKP15,Provinsi faskes tujuan rujukan,Kabupaten/Kota faskes tujuan rujukan,Kepemilikan faskes tujuan rujukan,Jenis faskes tujuan rujukan,Tipe faskes tujuan rujukan,Poli faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta
0,157978748.0,50765420,20.064983,958073632,2019-08-01,2019-08-01,61,6108,3,1,...,9999,9999,98,9998,98,98,98,98,2,Sehat
1,95085112.0,26931775,2.626307,449590620P000054,2020-06-17,2020-06-17,51,5171,9,3,...,K297,"Gastritis, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
2,224470578.0,227368233,1.051830,467490619P000001,2019-06-01,2019-06-01,35,3516,9,2,...,Z309,"Contraceptive management, unspecified",98,9998,98,98,98,98,1,Belum_Sehat
3,63871289.0,62313678,364.741455,254321219Y002368,2019-12-21,2019-12-21,34,3402,3,1,...,I10,Essential (primary) hypertension,98,9998,98,98,98,98,1,Belum_Sehat
4,29915626.0,113446188,1.050523,88681119P000020,2019-11-04,2019-11-04,35,3509,3,1,...,I110,Hypertensive heart disease with (congestive) h...,98,9998,98,98,98,98,1,Belum_Sehat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4056893,212666736.0,91270403,14.246229,1285820875,2020-07-29,2020-07-29,35,3505,9,3,...,9999,9999,98,9998,98,98,98,98,2,Sehat
4056894,30859241.0,30859241,3.886934,315641120P000514,2020-11-14,2020-11-14,35,3514,9,2,...,H269,"Cataract, unspecified",35,3514,9,2,14,99,1,Belum_Sehat
4056895,8859416.0,8859416,6.146070,962412926,2019-08-16,2019-08-16,11,1171,4,2,...,9999,9999,98,9998,98,98,98,98,2,Sehat
4056896,399491834.0,399491834,26.548826,273170420P000003,2020-04-01,2020-04-01,74,7402,3,1,...,K30,Dyspepsia,98,9998,98,98,98,98,1,Belum_Sehat
4056897,99146724.0,39321920,88.348953,1188955927,2020-03-14,2020-03-14,73,7317,3,1,...,9999,9999,98,9998,98,98,98,98,2,Sehat

#**Preprocessing**

In [ ]:
data = df.drop(columns=["Nomor peserta","Nomor keluarga", "Bobot", "Provinsi FKTP",
                        "Kabupaten/Kota FKTP", "Kepemilikan FKTP", "Kode dan nama diagnosis ICD 10 (3 digit)",
                        "Kode diagnosis ICD 10 (3 digit)", "Nama diagnosis berasal dari kode diagnosis FKP15",
                        "Kabupaten/Kota faskes tujuan rujukan",	"Kepemilikan faskes tujuan rujukan",	"Jenis faskes tujuan rujukan",
                        "Tipe faskes tujuan rujukan",	"Poli faskes tujuan rujukan"])
data.loc[df["Provinsi faskes tujuan rujukan"] == 98, "Provinsi faskes tujuan rujukan"] = 0
data.loc[df["Provinsi faskes tujuan rujukan"] != 98, "Provinsi faskes tujuan rujukan"] = 1
data

,ID Kunjungan FKTP,Tanggal datang kunjungan FKTP,Tanggal pulang kunjungan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta
0,958073632,2019-08-01,2019-08-01,1,4,1,12.0,2,9999,0,2,Sehat
1,449590620P000054,2020-06-17,2020-06-17,3,2,1,1.0,4,K297,0,1,Belum_Sehat
2,467490619P000001,2019-06-01,2019-06-01,2,1,1,3.0,4,Z309,0,1,Belum_Sehat
3,254321219Y002368,2019-12-21,2019-12-21,1,4,1,1.0,5,I10,0,1,Belum_Sehat
4,88681119P000020,2019-11-04,2019-11-04,1,4,1,1.0,1,I110,0,1,Belum_Sehat
...,...,...,...,...,...,...,...,...,...,...,...,...
4056893,1285820875,2020-07-29,2020-07-29,3,2,1,12.0,4,9999,0,2,Sehat
4056894,315641120P000514,2020-11-14,2020-11-14,2,1,1,1.0,5,H269,1,1,Belum_Sehat
4056895,962412926,2019-08-16,2019-08-16,2,1,1,13.0,5,9999,0,2,Sehat
4056896,273170420P000003,2020-04-01,2020-04-01,1,3,1,1.0,2,K30,0,1,Belum_Sehat
4056897,1188955927,2020-03-14,2020-03-14,1,4,1,13.0,2,9999,0,2,Sehat

In [ ]:
data['Tanggal pulang kunjungan FKTP'] = pd.to_datetime(data['Tanggal pulang kunjungan FKTP'], errors='coerce')
data['Tanggal datang kunjungan FKTP'] = pd.to_datetime(data['Tanggal datang kunjungan FKTP'], errors='coerce')
data['Lama Kunjungan'] = data['Tanggal pulang kunjungan FKTP'] - data['Tanggal datang kunjungan FKTP']

In [ ]:
databla = data.drop(columns=["Tanggal datang kunjungan FKTP","Tanggal pulang kunjungan FKTP"])
databla

,ID Kunjungan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta,Lama Kunjungan
0,958073632,1,4,1,12.0,2,9999,0,2,Sehat,0 days
1,449590620P000054,3,2,1,1.0,4,K297,0,1,Belum_Sehat,0 days
2,467490619P000001,2,1,1,3.0,4,Z309,0,1,Belum_Sehat,0 days
3,254321219Y002368,1,4,1,1.0,5,I10,0,1,Belum_Sehat,0 days
4,88681119P000020,1,4,1,1.0,1,I110,0,1,Belum_Sehat,0 days
...,...,...,...,...,...,...,...,...,...,...,...
4056893,1285820875,3,2,1,12.0,4,9999,0,2,Sehat,0 days
4056894,315641120P000514,2,1,1,1.0,5,H269,1,1,Belum_Sehat,0 days
4056895,962412926,2,1,1,13.0,5,9999,0,2,Sehat,0 days
4056896,273170420P000003,1,3,1,1.0,2,K30,0,1,Belum_Sehat,0 days
4056897,1188955927,1,4,1,13.0,2,9999,0,2,Sehat,0 days

In [ ]:
df1 = databla.sort_values(by='Kode diagnosis (beragam 3-5 digit)',ascending=True).reset_index()
df1

,index,ID Kunjungan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta,Lama Kunjungan
0,0,958073632,1,4,1,12.0,2,9999,0,2,Sehat,0 days
1,2041005,893604754,1,4,1,13.0,3,9999,0,2,Sehat,0 days
2,2041003,1273556067,1,3,1,12.0,2,9999,0,2,Sehat,0 days
3,2041000,1011237514,2,1,1,13.0,5,9999,0,2,Sehat,0 days
4,2040998,775487667,1,3,1,12.0,5,9999,0,2,Sehat,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...
4056893,3563386,480521219P000094,1,4,1,1.0,4,Z992,1,1,Belum_Sehat,0 days
4056894,3971494,309580320P000921,2,1,1,1.0,4,Z992,1,1,Belum_Sehat,0 days
4056895,1597725,233410119P000047,2,1,1,1.0,4,Z992,1,1,Belum_Sehat,0 days
4056896,778208,379120420P000002,2,1,1,1.0,4,Z992,1,1,Belum_Sehat,0 days
4056897,699144,143970519P000098,2,1,1,1.0,2,Z999,0,1,Belum_Sehat,0 days

In [ ]:
databla['Kode diagnosis (beragam 3-5 digit)'].value_counts()

9999     1380241
J069      195186
I10       165252
J00       157014
K30       106718
          ...
M8021          1
P91            1
H063           1
M6263          1
R859           1
Name: Kode diagnosis (beragam 3-5 digit), Length: 9665, dtype: int64

In [ ]:
databla.shape

(4056898, 11)

In [ ]:
databla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056898 entries, 0 to 4056897
Data columns (total 11 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   ID Kunjungan FKTP                       object
 1   Jenis FKTP                              int64
 2   Tipe FKTP                               int64
 3   Tingkat Pelayanan FKTP                  int64
 4   Jenis Poli FKTP                         float64
 5   Segmen Peserta saat akses layanan FKTP  int64
 6   Kode diagnosis (beragam 3-5 digit)      object
 7   Provinsi faskes tujuan rujukan          int64
 8   Jenis Kunjungan FKTP                    int64
 9   Kelas Status Pulang Peserta             object
 10  Lama Kunjungan                          timedelta64[ns]
dtypes: float64(1), int64(6), object(3), timedelta64[ns](1)
memory usage: 340.5+ MB

In [ ]:
from sklearn.preprocessing import LabelEncoder
cnc=LabelEncoder()

In [ ]:
databla['Kelas Status Pulang Peserta']=cnc.fit_transform(databla['Kelas Status Pulang Peserta'].values)
databla['Lama Kunjungan']=databla['Lama Kunjungan'].dt.days
databla['Kode diagnosis (beragam 3-5 digit)']=cnc.fit_transform(databla['Kode diagnosis (beragam 3-5 digit)'].values)
databla['Jenis Poli FKTP']=cnc.fit_transform(databla['Jenis Poli FKTP'].values)

In [ ]:
databla

,ID Kunjungan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP,Kelas Status Pulang Peserta,Lama Kunjungan
0,958073632,1,4,1,10,2,0,0,2,1,0
1,449590620P000054,3,2,1,0,4,3609,0,1,0,0
2,467490619P000001,2,1,1,2,4,9301,0,1,0,0
3,254321219Y002368,1,4,1,0,5,2852,0,1,0,0
4,88681119P000020,1,4,1,0,1,2854,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4056893,1285820875,3,2,1,10,4,0,0,2,1,0
4056894,315641120P000514,2,1,1,0,5,2528,1,1,0,0
4056895,962412926,2,1,1,11,5,0,0,2,1,0
4056896,273170420P000003,1,3,1,0,2,3612,0,1,0,0
4056897,1188955927,1,4,1,11,2,0,0,2,1,0

In [ ]:
databla.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056898 entries, 0 to 4056897
Data columns (total 11 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   ID Kunjungan FKTP                       object
 1   Jenis FKTP                              int64
 2   Tipe FKTP                               int64
 3   Tingkat Pelayanan FKTP                  int64
 4   Jenis Poli FKTP                         int64
 5   Segmen Peserta saat akses layanan FKTP  int64
 6   Kode diagnosis (beragam 3-5 digit)      int64
 7   Provinsi faskes tujuan rujukan          int64
 8   Jenis Kunjungan FKTP                    int64
 9   Kelas Status Pulang Peserta             int64
 10  Lama Kunjungan                          int64
dtypes: int64(10), object(1)
memory usage: 340.5+ MB

In [ ]:
databla['Kode diagnosis (beragam 3-5 digit)'].value_counts()

0       1380241
3208     195186
2852     165252
3181     157014
3612     106718
         ...
5656          1
6948          1
2443          1
5288          1
7532          1
Name: Kode diagnosis (beragam 3-5 digit), Length: 9665, dtype: int64

Reglog

In [ ]:
#split dataset
x = databla[['Jenis FKTP', 'Tipe FKTP',
       'Tingkat Pelayanan FKTP', 'Jenis Poli FKTP',
       'Segmen Peserta saat akses layanan FKTP',
       'Provinsi faskes tujuan rujukan', 'Jenis Kunjungan FKTP',
       'Lama Kunjungan', 'Kode diagnosis (beragam 3-5 digit)']]
y = databla['Kelas Status Pulang Peserta']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 88)

In [ ]:
#logistic regression
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(random_state = 88)
logreg.fit(x_train, y_train)

LogisticRegression(random_state=88)

In [ ]:
y_predict = logreg.predict(x_test)
y_predict

array([0, 0, 0, ..., 0, 1, 0])

In [ ]:
y_predict1 = logreg.predict_proba(x_test)
y_predict1

array([[9.91994014e-01, 8.00598584e-03],
       [9.99997810e-01, 2.18980229e-06],
       [9.93106554e-01, 6.89344587e-03],
       ...,
       [9.99991645e-01, 8.35462749e-06],
       [3.26059796e-03, 9.96739402e-01],
       [9.99140754e-01, 8.59246127e-04]])

In [ ]:
#metode evaluasi
from sklearn.metrics import classification_report, confusion_matrix
print('\nconfustion matrix') # generate the confusion matrix
print(confusion_matrix(y_test, y_predict))

from sklearn.metrics import accuracy_score
print('\naccuracy')
print(accuracy_score(y_test, y_predict))

from sklearn.metrics import classification_report
print('\nclassification report')
print(classification_report(y_test, y_predict))

confustion matrix
[[522693   4028]
 [  3875 280784]]

accuracy
0.9902598042840592

classification report
              precision    recall  f1-score   support

           0       0.99      0.99      0.99    526721
           1       0.99      0.99      0.99    284659

    accuracy                           0.99    811380
   macro avg       0.99      0.99      0.99    811380
weighted avg       0.99      0.99      0.99    811380

## **Decission Tree**

In [ ]:
#decission tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state = 88)
dt.fit(x_train, y_train)

DecisionTreeClassifier(random_state=88)

In [ ]:
y_predict = dt.predict(x_test)

In [ ]:
#metode evaluasi
from sklearn.metrics import classification_report, confusion_matrix
print('\nconfustion matrix') # generate the confusion matrix
print(confusion_matrix(y_test, y_predict))

from sklearn.metrics import accuracy_score
print('\naccuracy')
print(accuracy_score(y_test, y_predict))

from sklearn.metrics import classification_report
print('\nclassification report')
print(classification_report(y_test, y_predict))

confustion matrix
[[526509    212]
 [  1740 282919]]

accuracy
0.9975942221893564

classification report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    526721
           1       1.00      0.99      1.00    284659

    accuracy                           1.00    811380
   macro avg       1.00      1.00      1.00    811380
weighted avg       1.00      1.00      1.00    811380

KNN

In [ ]:
#K-NEARREST NEIGHBOR
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [ ]:
y_predict = knn.predict(x_test)

In [ ]:
#metode evaluation
from sklearn.metrics import classification_report, confusion_matrix
print('\nconfustion matrix') # generate the confusion matrix
print(confusion_matrix(y_test, y_predict))

from sklearn.metrics import accuracy_score
print('\naccuracy')
print(accuracy_score(y_test, y_predict))

from sklearn.metrics import classification_report
print('\nclassification report')
print(classification_report(y_test, y_predict))

confustion matrix
[[525877    844]
 [  2030 282629]]

accuracy
0.9964578865636323

classification report
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    526721
           1       1.00      0.99      0.99    284659

    accuracy                           1.00    811380
   macro avg       1.00      1.00      1.00    811380
weighted avg       1.00      1.00      1.00    811380

In [ ]:
import pandas
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import numpy

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/Aslab Pemkom/test_fktp.txt", sep=",", header=None,
                 names = ["Nomor peserta", "Nomor keluarga", "Bobot", "ID Kunjungan FKTP",	"Tanggal datang kunjungan FKTP",	"Tanggal pulang kunjungan FKTP",	"Provinsi FKTP",	"Kabupaten/Kota FKTP",	"Kepemilikan FKTP",	"Jenis FKTP",	"Tipe FKTP",	"Tingkat Pelayanan FKTP",	"Jenis Poli FKTP",	"Segmen Peserta saat akses layanan FKTP",	"Kode dan nama diagnosis ICD 10 (3 digit)",	"Kode diagnosis ICD 10 (3 digit)",	"Kode diagnosis (beragam 3-5 digit)",	"Nama diagnosis berasal dari kode diagnosis FKP15",	"Provinsi faskes tujuan rujukan",	"Kabupaten/Kota faskes tujuan rujukan",	"Kepemilikan faskes tujuan rujukan",	"Jenis faskes tujuan rujukan",	"Tipe faskes tujuan rujukan",	"Poli faskes tujuan rujukan",	"Jenis Kunjungan FKTP"])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
test.isna().sum()

Nomor peserta                                            0
Nomor keluarga                                           0
Bobot                                                    0
ID Kunjungan FKTP                                        0
Tanggal datang kunjungan FKTP                            0
Tanggal pulang kunjungan FKTP                            0
Provinsi FKTP                                            0
Kabupaten/Kota FKTP                                      0
Kepemilikan FKTP                                         0
Jenis FKTP                                               0
Tipe FKTP                                                0
Tingkat Pelayanan FKTP                                   0
Jenis Poli FKTP                                          0
Segmen Peserta saat akses layanan FKTP                   0
Kode dan nama diagnosis ICD 10 (3 digit)                 0
Kode diagnosis ICD 10 (3 digit)                     345912
Kode diagnosis (beragam 3-5 digit)                       0
Nama diagnosis berasal dari kode diagnosis FKP15         0
Provinsi faskes tujuan rujukan                           0
Kabupaten/Kota faskes tujuan rujukan                     0
Kepemilikan faskes tujuan rujukan                        0
Jenis faskes tujuan rujukan                              0
Tipe faskes tujuan rujukan                               0
Poli faskes tujuan rujukan                               0
Jenis Kunjungan FKTP                                     0
dtype: int64

In [ ]:
datatest = test.drop(columns=["Nomor peserta","Nomor keluarga", "Bobot", "Provinsi FKTP",
                        "Kabupaten/Kota FKTP", "Kepemilikan FKTP", "Kode dan nama diagnosis ICD 10 (3 digit)",
                        "Kode diagnosis ICD 10 (3 digit)", "Nama diagnosis berasal dari kode diagnosis FKP15",
                        "Kabupaten/Kota faskes tujuan rujukan",	"Kepemilikan faskes tujuan rujukan",	"Jenis faskes tujuan rujukan",
                        "Tipe faskes tujuan rujukan",	"Poli faskes tujuan rujukan"])
datatest.loc[test["Provinsi faskes tujuan rujukan"] == 98, "Provinsi faskes tujuan rujukan"] = 0
datatest.loc[test["Provinsi faskes tujuan rujukan"] != 98, "Provinsi faskes tujuan rujukan"] = 1
datatest

,ID Kunjungan FKTP,Tanggal datang kunjungan FKTP,Tanggal pulang kunjungan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP
0,954386050,2019-08-21,2019-08-21,2,1,1,13,5,9999,0,2
1,774246805,2019-02-12,2019-02-12,1,3,1,12,2,9999,0,2
2,1202010273,2020-03-27,2020-03-27,1,4,1,13,2,9999,0,2
3,1286640248,2020-07-30,2020-07-30,2,5,1,13,5,9999,0,2
4,1285179242,2020-07-28,2020-07-28,2,5,1,13,2,9999,0,2
...,...,...,...,...,...,...,...,...,...,...,...
1014220,248870919P000406,2019-09-08,2019-09-08,2,1,1,1,4,Z992,1,1
1014221,116000620P000034,2020-06-02,2020-06-02,2,1,1,1,4,Z999,0,1
1014222,160421019P000631,2019-10-15,2019-10-15,1,3,1,1,5,Z992,1,1
1014223,332670919P000083,2019-09-06,2019-09-06,1,3,1,1,4,Z992,1,1
1014224,106050119Y000587,2019-01-30,2019-01-30,1,3,1,1,2,Z992,1,1

In [ ]:
datatest['Tanggal pulang kunjungan FKTP'] = pd.to_datetime(data['Tanggal pulang kunjungan FKTP'], errors='coerce')
datatest['Tanggal datang kunjungan FKTP'] = pd.to_datetime(data['Tanggal datang kunjungan FKTP'], errors='coerce')
datatest['Lama Kunjungan'] = data['Tanggal pulang kunjungan FKTP'] - data['Tanggal datang kunjungan FKTP']

In [ ]:
datatest['Tanggal pulang kunjungan FKTP'] = pd.to_datetime(datatest['Tanggal pulang kunjungan FKTP'], errors='coerce')
datatest['Tanggal datang kunjungan FKTP'] = pd.to_datetime(datatest['Tanggal datang kunjungan FKTP'], errors='coerce')
datatest['Lama Kunjungan'] = data['Tanggal pulang kunjungan FKTP'] - data['Tanggal datang kunjungan FKTP']

In [ ]:
datablatest = datatest.drop(columns=["Tanggal datang kunjungan FKTP","Tanggal pulang kunjungan FKTP"])
datablatest

,ID Kunjungan FKTP,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP,Lama Kunjungan
0,954386050,2,1,1,13,5,9999,0,2,0 days
1,774246805,1,3,1,12,2,9999,0,2,0 days
2,1202010273,1,4,1,13,2,9999,0,2,0 days
3,1286640248,2,5,1,13,5,9999,0,2,0 days
4,1285179242,2,5,1,13,2,9999,0,2,0 days
...,...,...,...,...,...,...,...,...,...,...
1014220,248870919P000406,2,1,1,1,4,Z992,1,1,0 days
1014221,116000620P000034,2,1,1,1,4,Z999,0,1,0 days
1014222,160421019P000631,1,3,1,1,5,Z992,1,1,0 days
1014223,332670919P000083,1,3,1,1,4,Z992,1,1,0 days
1014224,106050119Y000587,1,3,1,1,2,Z992,1,1,0 days

In [ ]:
datablatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 10 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   ID Kunjungan FKTP                       1014225 non-null  object
 1   Jenis FKTP                              1014225 non-null  int64
 2   Tipe FKTP                               1014225 non-null  int64
 3   Tingkat Pelayanan FKTP                  1014225 non-null  int64
 4   Jenis Poli FKTP                         1014225 non-null  int64
 5   Segmen Peserta saat akses layanan FKTP  1014225 non-null  int64
 6   Kode diagnosis (beragam 3-5 digit)      1014225 non-null  object
 7   Provinsi faskes tujuan rujukan          1014225 non-null  int64
 8   Jenis Kunjungan FKTP                    1014225 non-null  int64
 9   Lama Kunjungan                          1014225 non-null  timedelta64[ns]
dtypes: int64(7), object(2), timedelta64[ns](1)
memory usage: 77.4+ MB

In [ ]:
#change float to int
datablatest['Kode diagnosis (beragam 3-5 digit)']=datablatest['Kode diagnosis (beragam 3-5 digit)'].astype(np.str)
datablatest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 10 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   ID Kunjungan FKTP                       1014225 non-null  object
 1   Jenis FKTP                              1014225 non-null  int64
 2   Tipe FKTP                               1014225 non-null  int64
 3   Tingkat Pelayanan FKTP                  1014225 non-null  int64
 4   Jenis Poli FKTP                         1014225 non-null  int64
 5   Segmen Peserta saat akses layanan FKTP  1014225 non-null  int64
 6   Kode diagnosis (beragam 3-5 digit)      1014225 non-null  object
 7   Provinsi faskes tujuan rujukan          1014225 non-null  int64
 8   Jenis Kunjungan FKTP                    1014225 non-null  int64
 9   Lama Kunjungan                          1014225 non-null  timedelta64[ns]
dtypes: int64(7), object(2), timedelta64[ns](1)
memory usage: 77.4+ MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.str` is a deprecated alias for the builtin `str`. To silence this warning, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
from sklearn.preprocessing import LabelEncoder
cnc=LabelEncoder()

In [ ]:
datablatest['Kode diagnosis (beragam 3-5 digit)']=cnc.fit_transform(datablatest['Kode diagnosis (beragam 3-5 digit)'].values)
datablatest['Jenis Poli FKTP']=cnc.fit_transform(datablatest['Jenis Poli FKTP'].values)

In [ ]:
datablatest2 = datablatest.drop(columns=["ID Kunjungan FKTP"])
datablatest2

,Jenis FKTP,Tipe FKTP,Tingkat Pelayanan FKTP,Jenis Poli FKTP,Segmen Peserta saat akses layanan FKTP,Kode diagnosis (beragam 3-5 digit),Provinsi faskes tujuan rujukan,Jenis Kunjungan FKTP,Lama Kunjungan
0,2,1,1,11,5,0,0,2,0 days
1,1,3,1,10,2,0,0,2,0 days
2,1,4,1,11,2,0,0,2,0 days
3,2,5,1,11,5,0,0,2,0 days
4,2,5,1,11,2,0,0,2,0 days
...,...,...,...,...,...,...,...,...,...
1014220,2,1,1,0,4,6834,1,1,0 days
1014221,2,1,1,0,4,6835,0,1,0 days
1014222,1,3,1,0,5,6834,1,1,0 days
1014223,1,3,1,0,4,6834,1,1,0 days
1014224,1,3,1,0,2,6834,1,1,0 days

In [ ]:
datablatest2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 9 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   Jenis FKTP                              1014225 non-null  int64
 1   Tipe FKTP                               1014225 non-null  int64
 2   Tingkat Pelayanan FKTP                  1014225 non-null  int64
 3   Jenis Poli FKTP                         1014225 non-null  int64
 4   Segmen Peserta saat akses layanan FKTP  1014225 non-null  int64
 5   Kode diagnosis (beragam 3-5 digit)      1014225 non-null  int64
 6   Provinsi faskes tujuan rujukan          1014225 non-null  int64
 7   Jenis Kunjungan FKTP                    1014225 non-null  int64
 8   Lama Kunjungan                          1014225 non-null  timedelta64[ns]
dtypes: int64(8), timedelta64[ns](1)
memory usage: 69.6 MB

In [ ]:
#change float to int
datablatest2['Lama Kunjungan']=datablatest2['Lama Kunjungan'].astype(np.int64)
datablatest2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 9 columns):
 #   Column                                  Non-Null Count    Dtype
---  ------                                  --------------    -----
 0   Jenis FKTP                              1014225 non-null  int64
 1   Tipe FKTP                               1014225 non-null  int64
 2   Tingkat Pelayanan FKTP                  1014225 non-null  int64
 3   Jenis Poli FKTP                         1014225 non-null  int64
 4   Segmen Peserta saat akses layanan FKTP  1014225 non-null  int64
 5   Kode diagnosis (beragam 3-5 digit)      1014225 non-null  int64
 6   Provinsi faskes tujuan rujukan          1014225 non-null  int64
 7   Jenis Kunjungan FKTP                    1014225 non-null  int64
 8   Lama Kunjungan                          1014225 non-null  int64
dtypes: int64(9)
memory usage: 69.6 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting timedelta64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

In [ ]:
# Load test dataset
X_train = datablatest2
pred = logreg.predict(X_train)
pred

array([1, 1, 1, ..., 0, 0, 0])

In [ ]:
a=pd.DataFrame(pred)

In [ ]:
a.value_counts()

0    670427
1    343798
dtype: int64

In [ ]:
# Load test dataset
X_train1 = datablatest2
pred1 = dt.predict(X_train1)
pred1

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
b=pd.DataFrame(pred1)
b.value_counts()

1    1009631
0       4594
dtype: int64

In [ ]:
# Load test dataset
X_train2 = datablatest2
pred2 = knn.predict(X_train2)
pred2

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([1, 1, 1, ..., 0, 0, 0])

In [ ]:
c=pd.DataFrame(pred2)
c.value_counts()

0    669688
1    344537
dtype: int64

In [ ]:
a

         0
0        1
1        1
2        1
3        1
4        1
...     ..
1014220  0
1014221  0
1014222  0
1014223  0
1014224  0

[1014225 rows x 1 columns]

In [ ]:
b

         0
0        1
1        1
2        1
3        1
4        1
...     ..
1014220  1
1014221  1
1014222  1
1014223  1
1014224  1

[1014225 rows x 1 columns]

In [ ]:
c

         0
0        1
1        1
2        1
3        1
4        1
...     ..
1014220  0
1014221  0
1014222  0
1014223  0
1014224  0

[1014225 rows x 1 columns]

In [ ]:
c.columns =['Status']

In [ ]:
c

         Status
0             1
1             1
2             1
3             1
4             1
...         ...
1014220       0
1014221       0
1014222       0
1014223       0
1014224       0

[1014225 rows x 1 columns]

In [ ]:
submission=pd.read_csv('submission (4).csv', sep=',')
submission

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

         Unnamed: 0             FKP02  Status
0                 1         954386050     NaN
1                 2         774246805     NaN
2                 3        1202010273     NaN
3                 4        1286640248     NaN
4                 5        1285179242     NaN
...             ...               ...     ...
1014220     1014221  248870919P000406     NaN
1014221     1014222  116000620P000034     NaN
1014222     1014223  160421019P000631     NaN
1014223     1014224  332670919P000083     NaN
1014224     1014225  106050119Y000587     NaN

[1014225 rows x 3 columns]

In [ ]:
#drop columns
submission.drop(['Status'],axis=1,inplace=True)
submission.head()

   Unnamed: 0       FKP02
0           1   954386050
1           2   774246805
2           3  1202010273
3           4  1286640248
4           5  1285179242

In [ ]:
#concat menggabungkan columns
submission1 = pd.concat([submission,c], axis=1).reset_index(drop=True)
submission1

         Unnamed: 0             FKP02  Status
0                 1         954386050       1
1                 2         774246805       1
2                 3        1202010273       1
3                 4        1286640248       1
4                 5        1285179242       1
...             ...               ...     ...
1014220     1014221  248870919P000406       0
1014221     1014222  116000620P000034       0
1014222     1014223  160421019P000631       0
1014223     1014224  332670919P000083       0
1014224     1014225  106050119Y000587       0

[1014225 rows x 3 columns]

In [ ]:
#export to csv
submission1.to_csv('Submission New.csv',index=False)

In [ ]:
submission1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014225 entries, 0 to 1014224
Data columns (total 3 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1014225 non-null  int64
 1   FKP02       1014225 non-null  object
 2   Status      1014225 non-null  int64
dtypes: int64(2), object(1)
memory usage: 23.2+ MB